<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verify User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios" *ngIf="user">

    <ion-card-header>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-card-title>Verify User</ion-card-title>
    </ion-card-header>

    <ion-item lines="none">
      <ion-label>
        Name: {{ user.name }}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        Company: {{ user.company }}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        other atributte if have....
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        ....
      </ion-label>
    </ion-item>

    <ion-button expand="block" color="warning" (click)="backToHome()" class="ion-margin">Back to Scan</ion-button>

  </ion-card>

  <ion-card mode="ios" *ngIf="!user && error">

    <ion-card-header>
      <ion-card-title>Scan Result</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ error }}
    </ion-card-content>

    <ion-button expand="block" color="warning" (click)="backToHome()" class="ion-margin">Back to Scan</ion-button>

  </ion-card>

</ion-content>
