<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      QR code scanner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QR code scanner</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="!user">

    <ion-card mode="ios">
      <ion-card-header>
        <ion-card-title>Choose result method</ion-card-title>
        <ion-card-subtitle class="ion-text-lowercase">This is just example for different approach you can use either
          same page or different page.
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item lines="none">
          <ion-label>Using alert</ion-label>
          <ion-toggle [(ngModel)]="isAlert" (ngModelChange)="changeToAlert($event)"></ion-toggle>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Using other page</ion-label>
          <ion-toggle [(ngModel)]="isPage" (ngModelChange)="changeToPage($event)"></ion-toggle>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">
      <ion-card-content>
        <ion-button expand="block" color="primary" (click)="scanQRCode()">Scan QR code (App only)</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios">

      <ion-card-header>
        <ion-card-title>Button example</ion-card-title>
        <ion-card-subtitle class="ion-text-lowercase">example using different buttons with same submit function
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-button expand="block" color="success" (click)="dummyScanQRCode(1)">Correct QR code (user id:
          1)</ion-button>

        <ion-button expand="block" color="danger" (click)="dummyScanQRCode(999)">Wrong QR code (user id:
          999)</ion-button>

      </ion-card-content>

    </ion-card>

    <ion-card mode="ios">

      <ion-card-header>
        <ion-card-title>Input example</ion-card-title>
        <ion-card-subtitle class="ion-text-lowercase">example using input with same submit function</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-label position="stacked">QR code value</ion-label>
          <ion-input clearInput placeholder="Type anything" [(ngModel)]="qrcodeInput"></ion-input>
        </ion-item>

        <ion-button expand="block" color="primary" class="ion-margin-top" [disabled]="!qrcodeInput"
          (click)="dummyScanQRCode(qrcodeInput)">Test QR
          code</ion-button>

      </ion-card-content>

    </ion-card>

  </ng-container>

  <ion-card mode="ios" *ngIf="user">

    <ion-card-header>
      <ion-card-title>Scan Result</ion-card-title>
    </ion-card-header>

    <ion-item lines="none">
      <ion-label>
        Name: {{ user.name }}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        Company: {{ user.company }}
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        other atributte if have....
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        ....
      </ion-label>
    </ion-item>

    <ion-button expand="block" color="warning" (click)="backToScan()" class="ion-margin">Back to Scan</ion-button>

  </ion-card>

</ion-content>
